apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-service
spec:
  template:
    spec:
      containers:
      - name: hello-service
        image: image-registry.openshift-image-registry.svc:5000/hello-spring-dev/hello-service:prod-022-07-06-15-27-23
